/****** Object:  Table [dbo].[tblEmail]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblEmail]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblEmail]
GO

/****** Object:  Table [dbo].[tblErrors]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblErrors]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblErrors]
GO

/****** Object:  Table [dbo].[tblEvents]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblEvents]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblEvents]
GO

/****** Object:  Table [dbo].[tblHosts]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblHosts]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblHosts]
GO

/****** Object:  Table [dbo].[tblRoute]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblRoute]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblRoute]
GO

/****** Object:  Table [dbo].[tblTOMS]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblTOMS]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblTOMS]
GO

/****** Object:  Table [dbo].[tblTrace]    Script Date: 28/09/2001 11:42:16 AM ******/
if exists (select * from dbo.sysobjects where id = object_id(N'[dbo].[tblTrace]') and OBJECTPROPERTY(id, N'IsUserTable') = 1)
drop table [dbo].[tblTrace]
GO

/****** Object:  Table [dbo].[tblEmail]    Script Date: 28/09/2001 11:42:24 AM ******/
CREATE TABLE [dbo].[tblEmail] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Address] [nvarchar] (255) NOT NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tblErrors]    Script Date: 28/09/2001 11:42:25 AM ******/
CREATE TABLE [dbo].[tblErrors] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Time] [datetime] NULL ,
	[Source] [nvarchar] (50) NULL ,
	[Number] [int] NULL ,
	[Description] [nvarchar] (255) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tblEvents]    Script Date: 28/09/2001 11:42:25 AM ******/
CREATE TABLE [dbo].[tblEvents] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Time] [datetime] NULL ,
	[HostID] [int] NULL ,
	[Event] [nvarchar] (50) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tblHosts]    Script Date: 28/09/2001 11:42:25 AM ******/
CREATE TABLE [dbo].[tblHosts] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Name] [nvarchar] (50) NULL ,
	[IP] [nvarchar] (15) NULL ,
	[isUp] [bit] NOT NULL ,
	[Time] [datetime] NULL ,
	[Timeout] [int] NULL ,
	[EmailID] [int] NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tblRoute]    Script Date: 28/09/2001 11:42:26 AM ******/
CREATE TABLE [dbo].[tblRoute] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[HostID] [int] NULL ,
	[Path] [ntext] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tblTOMS]    Script Date: 28/09/2001 11:42:26 AM ******/
CREATE TABLE [dbo].[tblTOMS] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[Time] [datetime] NULL ,
	[Event] [nvarchar] (50) NULL 
) ON [PRIMARY]
GO

/****** Object:  Table [dbo].[tblTrace]    Script Date: 28/09/2001 11:42:26 AM ******/
CREATE TABLE [dbo].[tblTrace] (
	[ID] [int] IDENTITY (1, 1) NOT NULL ,
	[EventID] [int] NULL ,
	[Result] [ntext] NULL 
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

ALTER TABLE [dbo].[tblEmail] WITH NOCHECK ADD 
	CONSTRAINT [PK_tblEmail] PRIMARY KEY  CLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tblErrors] WITH NOCHECK ADD 
	CONSTRAINT [DF__tblErrors__Time__20C1E124] DEFAULT (getdate()) FOR [Time],
	CONSTRAINT [DF__tblErrors__Numbe__21B6055D] DEFAULT (0) FOR [Number],
	CONSTRAINT [aaaaatblErrors_PK] PRIMARY KEY  NONCLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tblEvents] WITH NOCHECK ADD 
	CONSTRAINT [DF__tblEvents__HostI__1BFD2C07] DEFAULT (0) FOR [HostID],
	CONSTRAINT [aaaaatblEvents_PK] PRIMARY KEY  NONCLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tblHosts] WITH NOCHECK ADD 
	CONSTRAINT [DF__tblHosts__isUp__15502E78] DEFAULT (1) FOR [isUp],
	CONSTRAINT [DF__tblHosts__Time__164452B1] DEFAULT (getdate()) FOR [Time],
	CONSTRAINT [DF__tblHosts__Timeou__173876EA] DEFAULT (1000) FOR [Timeout],
	CONSTRAINT [aaaaatblHosts_PK] PRIMARY KEY  NONCLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tblRoute] WITH NOCHECK ADD 
	CONSTRAINT [DF__tblRoute__HostID__108B795B] DEFAULT (0) FOR [HostID],
	CONSTRAINT [aaaaatblRoute_PK] PRIMARY KEY  NONCLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tblTOMS] WITH NOCHECK ADD 
	CONSTRAINT [aaaaatblTOMS_PK] PRIMARY KEY  NONCLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

ALTER TABLE [dbo].[tblTrace] WITH NOCHECK ADD 
	CONSTRAINT [DF__tblTrace__EventI__07F6335A] DEFAULT (0) FOR [EventID],
	CONSTRAINT [aaaaatblTrace_PK] PRIMARY KEY  NONCLUSTERED 
	(
		[ID]
	)  ON [PRIMARY] 
GO

